<app-titulo [titulo]="titulo"></app-titulo>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">

        <button type="button" class="btn btn-primary" routerLink="/processo/criar">Criar processo</button>
      </div>

    </div>
  </div>
<br/>

  <div class="row">
    <div class="col-sm"></div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col"> Processo</th>
            <th scope="col">Valor</th>
            <th scope="col">Escritório</th>
            <th scope="col">Reclamante</th>
            <th scope="col">Ativo</th>
            <th scope="col">Aprovado</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of processos">
            <th scope="row">{{p.id}}</th>
            <td>{{p.numeroProcesso}}</td>
            <td>{{p.valor}}</td>
            <td>{{p.escritorio}}</td>
            <td>{{p.reclamante}}</td>
            <td>{{p.aprovado | simOuNao}}</td>
            <td>{{p.ativo | simOuNao }}</td>
            <td> <a [routerLink]="['/processo/editar/', p.id]">Editar</a></td>
            <td><a [routerLink] (click)="deletar(p.id)">Deletar </a></td>
          </tr>

        </tbody>
      </table>
   </div>


</div>

