
<form>
  <div class="mb-3 col-md-12 ">
    <label for="Processo" class="form-label">Número Processo</label>
    <input type="text" class="form-control" id="Processo" placeholder="">
  </div>
  <div class="mb-3 col-md-12 ">
    <label for="Valor" class="form-label">Valor</label>
    <input type="text" class="form-control" id="Valor" placeholder="">
  </div>
  <div class="mb-3 col-md-12">
    <label for="Escritório" class="form-label">Escritório</label>
    <input type="text" class="form-control" id="Escritório" placeholder="">
  </div>
  <div class="mb-3 col-md-12">
    <label for="Reclamante" class="form-label">Reclamante</label>
    <input type="text" class="form-control" id="Reclamante" placeholder="">
  </div>
  <div class="mb-3 col-md-12">
    <label for="aprovado" class="form-label">
      <input type="checkbox" class="" id="aprovado" placeholder=""> Aprovado
    </label>
    
  </div>
  <div class="mb-3 col-md-12">
    <label for="ativo" class="form-label">
      <input type="checkbox" class="" id="ativo"> Ativo
    </label>
    
  </div>

  <div class="col-md-12">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      
      <button type="button" class="btn btn-primary" routerLink="/processo/criar">Enviar processo</button>
    </div>
  
  </div> 

</form>
