
<form>
  <div class="mb-3">
    <label for="Processo" class="form-label">Número Processo</label>
    <input type="text" class="form-control" id="Processo" placeholder="Example input placeholder">
  </div>
  <div class="mb-3">
    <label for="Valor" class="form-label">Valor</label>
    <input type="text" class="form-control" id="Valor" placeholder="Another input placeholder">
  </div>
  <div class="mb-3">
    <label for="Escritório" class="form-label">Escritório</label>
    <input type="text" class="form-control" id="Escritório" placeholder="Another input placeholder">
  </div>
  <div class="mb-3">
    <label for="Reclamante" class="form-label">Reclamante</label>
    <input type="text" class="form-control" id="Reclamante" placeholder="Another input placeholder">
  </div>
  <div class="mb-3">
    <label for="Aprovado" class="form-label">Aprovado</label>
    <input type="checkbox" class="form-control" id="Aprovado" placeholder="Another input placeholder">
  </div>
  <div class="mb-3">
    <label for="Ativo" class="form-label">Ativo</label>
    <input type="text" class="form-control" id="Ativo" placeholder="Another input placeholder">
  </div>
</form>
